.EventListItem {
  flex: 1 1 calc(33.333% - 20px);
  min-width: 500px;
  background-color: #232323;
}
.EventListItem .event-img {
  width: 500px;
  height: 300px;
}
.EventListItem img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
.EventListItem .movieName {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 555;
  color: #fff;
}
