/*MainPage.css*/

@charset "utf-8";

#MainPage {
  background-color: #0e0d0d;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#MainPage .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

#MainPage .search-bar {
  position: relative;
  width: 60%;
  margin: 30px auto 50px auto;
  margin-top: 300px;
  margin-bottom: 300px;
}

#MainPage .search-bar input {
  width: 100%;
  padding: 12px 45px 12px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

#MainPage .search-bar input:focus {
  border-color: #000;
}

#MainPage .search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

#MainPage .top-movies-section,
#MainPage .event-section {
  margin-bottom: 60px;
}

#MainPage .section-header {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#MainPage .section-header h2 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

#MainPage .section-header .current-time {
  font-size: 14px;
  color: #dbdbdb;
}

#MainPage .top-three-movies {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-bottom: 40px;
}

#MainPage .top-three-movies .movie-item {
  position: relative;
  flex: 1;
}

#MainPage .top-three-movies .movie-item img {
  width: 435px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#MainPage .top-three-movies .movie-item .movie-rank {
  position: absolute;
  bottom: -20px;
  left: -110px;
  font-size: 300px;
  font-weight: 900;
  color: #212121;
  -webkit-text-stroke: 4px #fff;
  z-index: 1;
  line-height: 1;
}

#MainPage .remaining-top-movies {
  padding-bottom: 20px;
  padding-left: 100px;
  margin-left: -300px;
}
#MainPage .remaining-top-movies .swiper {
  overflow: hidden;
  margin-left: 150px;
}

#MainPage .remaining-top-movies .movie-item {
  position: relative;
  width: 250px;
  height: 375px;
  box-sizing: border-box;
}

#MainPage .remaining-top-movies .movie-item img {
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  z-index: 1;
  padding-left: 50px;
}

#MainPage .remaining-top-movies .movie-item .movie-rank {
  position: absolute;
  bottom: -10px;
  right: 150px;
  width: auto;
  text-align: right;
  font-size: 200px;
  font-weight: 900;
  color: #212121;
  -webkit-text-stroke: 4px #fff;
  line-height: 0.9;
  z-index: 0;
  letter-spacing: -10px;
}

#MainPage .event-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#MainPage .event-list .event-item {
  flex: 1;
  text-align: center;
}

#MainPage .event-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

#MainPage .event-item .event-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
