#Header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #ddd;
}
#Header2 .gnb ul{
    display: flex;
    gap: 40px;
}
#Header2 .gnb li a{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
#Header2 .gnb .active a{
    color: #b40036;
}