/* SearchActorItem.css */

.search-item {
  width: 250px;
}

.search-item img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}
.search-item .item-name-job {
  display: flex;
  justify-content: space-between;
}
.search-item p {
  color: #fff;
}
